[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-widget-tweaks = "*"
django-hijack = "*"
django-countries = "*"
djangorestframework = "*"
aws-secretsmanager-caching = "*"
mysqlclient = "*"
django-extensions = "*"
pytz = "*"
requests = "*"
boto3 = "*"

[dev-packages]

[requires]
