{% extends "base.html" %}

{% load static humanize %}

{% block styles %}
    <link href="{% static "css/colors.css" %}" rel="stylesheet">
{% endblock styles %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="#">Application View</a>
    </li>
    <li class="breadcrumb-item active">{{ person }}</li>
{% endblock breadcrumbs %}

{% block sub_heading %}People | {{ application.student }}{% endblock sub_heading %}

{% block base_content %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-hdr bg-faded">
                    <h2>{{ person }}</h2>
                    <div class="panel-toolbar">
                        <a href="#" class="btn btn-panel hover-effect-dot js-panel-collapse waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Expand / Collapse"></a>
                        <a href="#" class="btn btn-panel hover- effect-dot js-panel-fullscreen waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-4">
                                <div class="text-center p-2 pt-4">
                                    {% if person.image %}
                                        <img src="{{ person.image.url }}" style="width:100%; max-width: 250px;" class="rounded-circle shadow-2 img-thumbnail" alt="{{ person }}">
                                    {% else %}
                                        <img src="{% static "images/male_silhouette.png" %}" style="width:100%; max-width: 250px;" class="rounded-circle shadow-2 img-thumbnail" alt="{{ person }}">
                                    {% endif %}
                                </div>
                                <div class="text-center mt-2 pb-2">
                                    <span id="in_office_icon" class="badge badge-primary" data-toggle="tooltip" data-original-title="In Office" style="display: {% if person.in_office %}inline-block{% else %}none;{% endif %}"><i class="fal fa-briefcase fa-2x"></i></span>
                                    <span id="at_home_icon" class="badge badge-dark" data-toggle="tooltip" data-original-title="At Home" style="display: {% if not person.in_office %}inline-block{% else %}none;{% endif %}"><i class="fal fa-home fa-2x"></i></span>
                                </div>
                            </div>
                            <div class="col-8 pt-4">
                                <h2>{{ person }}<small class="mb-0">{{ person.get_personnel_type_display }}</small></h2>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6 px-3">
                                        <div class="form-group">
                                            <label class="form-label">Name</label>
                                            <p class="form-control-plaintext">
                                                {{ person.first_name }}
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Application Date</label>
                                            <p class="form-control-plaintext">
                                                {{ application.date }}
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Residence</label>
                                            <p class="form-control-plaintext">
                                                {{ application.room.residence }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 px-3">
                                        <div class="form-group">
                                            <label class="form-label">Surname</label>
                                            <p class="form-control-plaintext">
                                                {{ person.last_name }}
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Campus</label>
                                            <p class="form-control-plaintext">
                                                {{ application.room.residence.campus}}
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Room</label>
                                            <p class="form-control-plaintext">
                                                {{ application.room}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-0">
                                <div class="row">
                                    <div class="col-md-6 px-3">
                                        <div class="form-group">
                                            <label class="form-label">Student Email</label>
                                            <p class="form-control-plaintext">
                                                 {% if person.student_email %}
                                                    <a href="mailto:{{ person.student_email }}">
                                                        {{ person.student_email }}
                                                    </a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 px-3">
                                        <div class="form-group">
                                            <label class="form-label">Mobile Number</label>
                                            <p class="form-control-plaintext">
                                                 {% if person.mobile_number %}
                                                    <a href="tel:{{ person.mobile_number }}">{{ person.mobile_number }}</a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body shadow-hover-5">
                                <a href="{% url "administration:application_decline" application.pk %}" class="d-flex flex-row align-items-center">
                                    <div class="icon-stack display-4 flex-shrink-0">
                                        <i class="fal fa-circle icon-stack-3x color-danger-600"></i>
                                        <i class="fal fa-times icon-stack-1x color-danger-600"></i>
                                    </div>
                                    <div class="ml-3">
                                        <strong>Decline</strong>
                                        <span class="d-lg-none d-xl-block">
                                            Decline the application.
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body shadow-hover-5">
                                <a href="{% url "administration:application_approve" application.pk %}" class="d-flex flex-row align-items-center">
                                    <div class="icon-stack display-4 flex-shrink-0">
                                        <i class="fal fa-circle icon-stack-3x color-info-600"></i>
                                        <i class="fal fa-check icon-stack-1x color-info-600"></i>
                                    </div>
                                    <div class="ml-3">
                                        <strong>Approve</strong>
                                        <span class="d-lg-none d-xl-block">
                                            Approve the application.
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body shadow-hover-5">
                                <a href="{% url "administration:applications_list" %}" class="d-flex flex-row align-items-center">
                                    <div class="icon-stack display-4 flex-shrink-0">
                                        <i class="fal fa-circle icon-stack-3x color-danger-600"></i>
                                        <i class="fal fa-times icon-stack-1x color-danger-600"></i>
                                    </div>
                                    <div class="ml-3">
                                        <strong>Back</strong>
                                        <span class="d-lg-none d-xl-block">
                                            Go back.
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-content bg-faded rounded-bottom border-faded border-left-0 border-right-0 border-bottom-0 text-muted"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock base_content %}
