{% extends "base.html" %}

{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{%  url "structure:campus_view" room.residence.campus.pk %}">Campuses</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{%  url "structure:residence_view" room.residence.pk %}">Residences</a>
    </li>
    <li class="breadcrumb-item active">{{ room.number }}</li>
{% endblock breadcrumbs %}

{% block sub_heading %}Campuses | {{ room.number }}{% endblock sub_heading %}

{% block base_content %}
    <div class="row">
        <div{% if requesting_user.can_view_human_resources or requesting_user.can_view_all %} class="col-lg-9"{% else %} class="col-lg-9"{% endif %}>
            <div class="panel">
                <div class="panel-hdr bg-faded">
                    <h2>Campus Information</h2>
                    <div class="panel-toolbar">
                        <a href="#" class="btn btn-panel hover-effect-dot js-panel-collapse waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Expand / Collapse"></a>
                        <a href="#" class="btn btn-panel hover-effect-dot js-panel-fullscreen waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></a>
                    </div>
                </div>
                <div class="panel-container collapse show">
                    <div class="panel-content">
                        <h2 class="mb-0">
                            {{ room.name }}
                            <small>
                                <a href="{% url "core:dashboard" %}">dashboard</a>
                            </small>
                        </h2>
                        <hr class="mb-4">
                        <div class="form-group">
                            <label class="form-label">Room Number</label>
                            <p class="form-control-plaintext">
                                {{ room.number }}
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Room Floor</label>
                            <p class="form-control-plaintext">{{ room.floor|linebreaks|default:"-" }}</p>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Residence</label>
                            <p class="form-control-plaintext">{{ room.residence|linebreaks|default:"-" }}</p>
                        </div>
                        <hr>
                        <div class="d-flex flex-row">
                            <div class="info-card-text flex-1">
                                <span class="mt-1 d-block">
                                    <i class="fal fa-user-friends text-muted mr-2" data-placement="top" data-toggle="tooltip" data-original-title="Number of People"></i>
                                    {{ campus.get_residence_count|default:"-" }}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <i class="fal fa-briefcase text-muted mr-2" data-placement="top" data-toggle="tooltip" data-original-title="Working in Office"></i>
                                    {{ campus.get_people_count|default:"-" }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-content bg-faded rounded-bottom border-faded border-left-0 border-right-0 border-bottom-0 text-muted"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-body shadow-hover-5">
                    <a href="{% url "structure:room_edit" room.pk %}" class="d-flex flex-row align-items-center">
                        <div class="icon-stack display-4 flex-shrink-0">
                            <i class="fal fa-circle icon-stack-3x opacity-100 color-primary-400"></i>
                            <i class="fal fa-edit icon-stack-1x opacity-100 color-primary-500"></i>
                        </div>
                        <div class="ml-3">
                            <strong>Edit Room Information</strong>
                            <span class="d-lg-none d-xl-block">
                                Room name, room address, campus email address and campus location.
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}