@media print {html, body {display: none !important;}}
/* theme overrides */
.shortcut-menu {bottom: 3.5rem !important;}
.form-group {margin-bottom: 1rem !important;}
.form-label {font-weight: 600 !important;}
.form-control-plaintext {color: #666666 !important;}
hr {border-bottom: 1px dashed #bbbbbb;}
/* datatable overrides */
.dataTables_empty {padding: 10px !important;}
.dataTables_toolbar {display: inline-block; margin-right: 1rem;}
.dataTables_paginate {display: inline-block;}
.table thead {background-color: #4679cc; color: white;}
.table td {vertical-align: middle !important;}
td.dataTables_center {text-align: center;}
td.dataTables_right {text-align: right;}
td.dataTables_nowrap {white-space: nowrap;}
td.dataTables_small {font-size: 80%; font-weight: 400;}
td.dataTables_action {padding-top: 0 !important; padding-bottom: 0 !important;}
/* jstree overrides */
.jstree-hovered {background-color: #e1e1e1 !important;}
.jstree-clicked {background-color: #e9e9e9 !important;}
.jstree-clicked.jstree-hovered {background-color: #e1e1e1 !important;}
.jstree-anchor::after {content: attr(data-quantity); font-size: smaller; font-style: italic;}
