{% load static %}
<aside class="page-sidebar">
	<div class="page-logo">
		<a href="{% url "core:index" %}" class="press-scale-down d-flex align-items-center position-relative">
			<img src="{% static "images/cput_logo.png" %}" alt="{{ site_title }}" height="46" width="200" style="height: 46px; width: 200px;">
		</a>
	</div>
	<nav id="js-primary-nav" class="primary-nav js-list-filter" role="navigation">
		<div class="nav-filter">
			<div class="position-relative">
                <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
				<button type="button" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
					<i class="fal fa-chevron-up"></i>
				</button>
			</div>
		</div>
		<div class="info-card px-3">
			<div class="info-card-text pt-2 m-0">
{#				<a href="{% url "settings:organization_view" request.organization.pk %}" class="text-white">#}
{#					{{ request.organization }}#}
{#				</a>#}
				<br><br>
{#				<a href="{% url "settings:profile_view" request.profile.pk %}" class="text-white">#}
{#					{{ request.profile }}#}
{#					{{ request.profile.email_address|lower }}#}
{#				</a>#}
			</div>
			<img src="{% static "images/cput_sidebar.png" %}" class="cover" alt="{{ site_title }}">
			<a href="javascript:void(0);" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
				<i class="fal fa-angle-down"></i>
			</a>
		</div>
		<ul id="js-nav-menu" class="nav-menu">
			<li{% if application == "Dashboard" %} class="active"{% endif %}>
				<a href="{% url "core:dashboard" %}" data-filter-tags="dashboard" class="waves-effect waves-themed">
					<i class="fal fa-th-large"></i>
					<span class="nav-link-text">Dashboard</span>
				</a>
			</li>
			<li class="nav-title">Tools</li>
            <li class="nav-title">Settings</li>
		</ul>
		<div class="filter-message js-filter-message bg-success-600"></div>
	</nav>
	<div class="nav-footer shadow-top">
		<a href="#" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
			<i class="ni ni-chevron-right"></i>
			<i class="ni ni-chevron-right"></i>
		</a>
		<ul class="list-table m-auto nav-footer-buttons">
			<li>
{#				<a href="{% url "settings:profile_view" request.profile.pk %}" data-toggle="tooltip" data-placement="top" title="{{ request.profile }}">#}
{#					<i class="fal fa-user-circle"></i>#}
{#				</a>#}
			</li>
			<li>
{#				<a href="{% url "core:core_help" %}" data-toggle="tooltip" data-placement="top" title="Help">#}
{#					<i class="fal fa-question-circle"></i>#}
{#				</a>#}
			</li>
			<li>
{#				<a href="{% url "core:core_logout" %}" data-toggle="tooltip" data-placement="top" title="Logout">#}
{#					<i class="fal fa-sign-out-alt"></i>#}
{#				</a>#}
			</li>
		</ul>
	</div>
</aside>