{% load static humanize %}

<header class="page-header" role="banner">
    <div class="hidden-md-down dropdown-icon-menu position-relative">
        <button type="button" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Hide Navigation">
            <i class="ni ni-menu"></i>
        </button>
        <ul>
            <li>
                <button type="button" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify" title="Minify Navigation">
                    <i class="ni ni-minify-nav"></i>
                </button>
            </li>
            <li>
                <button type="button" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed" title="Lock Navigation">
                    <i class="ni ni-lock-nav"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="hidden-lg-up">
        <button type="button" class="header-btn btn press-scale-down waves-effect waves-themed" data-action="toggle" data-class="mobile-nav-on">
            <i class="ni ni-menu"></i>
        </button>
    </div>
    <div class="ml-auto d-flex">
	    <div class="fw-500 fs-lg">
		    <span class="header-icon pt-1">{{ request.organization }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ application }}&nbsp;&nbsp;|</span>
	    </div>
	    <button type="button" class="header-icon cursor-pointer bg-white border-0" data-action="app-fullscreen" data-toggle="tooltip" data-placement="bottom" title="Full Screen">
		    <i class="fal fa-expand"></i>
	    </button>
{#	    <a href="{% url "core:core_help" %}" class="header-icon cursor-pointer bg-white border-0" data-toggle="tooltip" data-placement="bottom" title="Help">#}
{#		    <i class="fal fa-question-circle"></i>#}
{#	    </a>#}
{#	    <a href="{% url "settings:profile_view" request.profile.pk %}" class="header-icon cursor-pointer bg-white border-0" data-toggle="tooltip" data-placement="bottom" title="{{ request.profile }}">#}
{#		    <i class="fal fa-user"></i>#}
{#	    </a>#}
{#	    <a href="{% url "core:core_logout" %}" class="header-icon cursor-pointer bg-white border-0" data-toggle="tooltip" data-placement="bottom" title="Logout" data-original-title="Logout">#}
{#		    <i class="fal fa-sign-out-alt"></i>#}
{#	    </a>#}
    </div>
</header>